container .div1 {
    color: red;
    background-color: black;
}
.bg-white{
    background-color: whitesmoke;
}
.div2 {
    background-color: darkmagenta;
    color: blue
}
.container{
width: 800px;
margin: auto;
}
#div-1 {
    color: yellow;
    background-color: thistle;
}
#div-2 {
    color: turquoise;
    background-color: yellowgreen;
}
