body {
margin: 0%;
}



h1 {
color:  #df3f1d
}

a {
text-decoration: none;
background-color: black;
padding: 5px 10px 10 ;
color:#cf0000
}

img {
border: 5px solid darkturquoise

}
a:hover {
color: white;
border-color:turquoise;
background-color: navy;

} 

ul,
ol {

    padding-left: 20px;
}
table{
    width: 100%;
border-collapse: collapse;
}
table th{
    text-align: left;
}
table td,
table th {
    padding: 5px 10px;
border: 1px solid black
}

tbody tr:nth-child(even){
background-color: blue;
}

thead tr {
    background-color: cadetblue;
}