body {
    margin: 0%;
    background-color: rgb(255, 255, 255);
    }
.d-flex {
    display: flex;
    }
.container2 {
    width: 900px;
    margin: auto;
}
header {
    background-color: rgb(0, 0, 0);
    height: 70px;
    align-items: center;
    
}
object {
    margin-left: 200px;
}

header .container2 {
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}
.notification-block {
    text-align:center;
    background-color: rgb(49, 49, 49);
    background-image: url(../assets/img3.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover
}
.search-container {
    display: flex;
    align-items: center;
}

.phone-number {
    display:block;
    text-align: right;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.container {
    width: 800px;
    margin: auto;
    }
h1 {
    color:#0f0300
}
span{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
nav a {
    text-decoration: none;
    padding: 5px 10px;
    color:#f8f8f8;
    
}

nav a:hover {
    color: black;
    border-color:turquoise;
    background-color: rgb(248, 252, 6); 
}
.welcome-container{
    padding: 30 px;
    background-color: rgb(255, 255, 255);
}

.text-wrapper h1{
    font-size: 30px;
    color: rgb(131, 131, 131);
    border: 2px solid black;
    background-color: rgb(48, 48, 48);
    
}
.container d-flex2 img{
    position: relative;
    left: 500px;
}

.wrapper {
    gap: 15px;
}

.main-image-container {
    width: 50%;
}

.main-image-container img {
    width: 100%;
    aspect-ratio: 4/3;
}
#search {
    width: 200px;
    border: 2px solid rgb(17, 17, 16);
    
}
#sampo {
    width: 500px;
    height: 50px;
}
.container3 {
  width: 1300px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}
.item {
    width: 250px;
    height: 100px;
    margin: 10px;
    
    align-items:center;
    
}
#icon {
    font-size: 50px;
    color: rgb(37, 4, 156);
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
  }
  
  .flex-container > div {
    background-color: #ffffff;
    width: 200px;
    margin: 50px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
  }
 

  .item2 {
      border-top: 5px solid yellow;
  }