body {
    margin: 0%;
    background-color: rgb(255, 255, 255);
    }
.d-flex {
    display: flex;
    }
.container2 {
    width: 900px;
    margin: auto;
}
header {
    background-color: rgb(243, 219, 0);
    height: 70px;
    align-items: center;
}
header .container2 {
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}
.notification-block {
    text-align:center;
    padding: 20px 0;
    background-color: rgb(49, 49, 49);
}
.container {
    width: 800px;
    margin: auto;
    }
h1 {
    color:#df3f1d
}
span{
    color: rgb(7, 163, 33);
    text-decoration: underline;
}
a {
    text-decoration: none;
    background-color: rgb(7, 7, 7);
    padding: 5px 10px 10px;
    color:#f3f1f1;
    border: 2px solid rgb(43, 43, 43);
}
img {
    border: 5px solid rgb(1, 67, 68)

}
a:hover {
    color: black;
    border-color:turquoise;
    background-color: navy; 
}
.welcome-container{
    padding: 30 px;
    background-color: rgb(42, 42, 42);
}

.text-wrapper h1{
    font-size: 30px;
    color: honeydew;
    
}
.container d-flex2 img{
    position: relative;
    left: 500px;
}

.wrapper {
    gap: 15px;
}

.main-image-container {
    width: 50%;
}

.main-image-container img {
    width: 100%;
    aspect-ratio: 4/3;
}