body {
    margin: 0%;
    background-color: rgb(255, 255, 255);
    }
.d-flex {
    display: flex;
    }
.container2 {
    width: 900px;
    margin: auto;
}
header {
    background-color: rgb(223, 219, 3);
    height: 70px;
    align-items: center;
}
header .container2 {
    justify-content: space-between;
    gap: 15px;
}
.notification-block {
    text-align:center;
    padding: 20px 0;
    background-color: rgb(70, 70, 70);
}
.container {
    width: 800px;
    margin: auto;
    }
h1 {
    color:#df3f1d
}
span{
    color: rgb(7, 163, 33);
    text-decoration: underline;
}
a {
    text-decoration: none;
    background-color: rgb(64, 65, 36);
    padding: 5px 10px 10px;
    color:#f3f1f1;
    border: 2px solid rgb(0, 0, 0);
}
img {
    border: 5px solid rgb(1, 67, 68)

}
a:hover {
    color: black;
    border-color:turquoise;
    background-color: navy; 
}
.welcome-container{
    padding: 30 px;
    background-color: gray;
}
.welcome-container img{
    max-width: 70%;
}
.welcome-container .text-wrapper {
    width: 30%;
}
.text-wrapper h1{
    font-size: 30px;
    color: honeydew;
    
}
.container d-flex2 img{
    position: relative;
    left: 500px;
}

